body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}
.container{
  max-width: 1160px;
  height: 100vh;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #fff;
  
}
h1{
  text-align: center;
  margin-right: 40px;
  margin-bottom: 40px;
}
.plus, .minus, .multiply, .divide{
  margin-bottom: 20px;
}
input{
  padding: 16px 20px;
  margin: 10px;
  background-color: gold;
  color: #000;
  border-radius: 10px;
  border: 5px solid lightblue;
  font-family: 'DM Sans',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
}